<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30365798578-f4k7r9rosqqsvmvhjmqegpo805vv52iq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30365798578-f4k7r9rosqqsvmvhjmqegpo805vv52iq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>30365798578-inhia8e2k6dt67nv6h48grpefch10629.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-lQb6GaH8tMB_irTBD4nKYzqqLHEy7OI</string>
	<key>GCM_SENDER_ID</key>
	<string>30365798578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thangnv.TikMate</string>
	<key>PROJECT_ID</key>
	<string>tikget-fd170</string>
	<key>STORAGE_BUCKET</key>
	<string>tikget-fd170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30365798578:ios:80466321128e50aa32f9ab</string>
	<key>DATABASE_URL</key>
	<string>https://tikget-fd170.firebaseio.com</string>
</dict>
</plist>